
*{
    margin: 0%;
    flex-wrap: wrap;
    
}
.marleft{
    margin-top: 30px;
    margin-left:25px;
}
.formbox{
   
    flex-wrap: wrap;
    background-color: grey;
    /* height:580px;
    width:350px; */
    position: absolute;
    left: 150px;
    border-radius:20px ;
    top:200px;
    background-color: transparent;
    color:white;
    /* box-shadow: black; */
    width: 350px;
    height: 550px;
    /* background-color:s rgba(41, 39, 39, 0.3); */
    box-shadow: 0 5px 70px black;
    /* text-align: center; */
    /* background-color:rgb(165, 142, 84); */

    
}


    /* width: 350px;
height: 450px;
background-color:s rgba(41, 39, 39, 0.3);
box-shadow: 0 5px 30px black; */

#submit:hover{

background-color: black;
    color: aliceblue;
    font-weight: 100;
    /* font-weight: 600;
    margin-top: 120px;
    margin-left:120px;
    border-radius:15px;
    height: 60px;
    width:170px */
    
/* background-color: #fff; */
}
ul{
    /* margin-top: ; */
    position: absolute;
    display: grid;
    margin-top:-65px ;
    /* display: inline; */
    margin-left: 30%;
    grid-template-columns: repeat(5,auto);
    padding: 40px;
    /* right:300px; */

}
a{
    text-decoration: none;
    color: rgb(7, 3, 0);
    font-weight: bold;
    

}
a:hover{
    border: 1px solid white ;
    border-width: 3px;
    /* border-bottom: 3px solid white  ; */
    font-weight: 500;
    background-color: transparent;
    box-shadow: 0px 2px 20px #021e37 ;
    /* border-radius: 20%; */
    
}
input:hover{
    font-weight: bold;
    border: 2px solid #021e37;
    box-shadow: 2px 2px 50px #021e37 ;
     
}
li{
    /* #337ab7 */
    display: inline;
    padding: 20px;
    text-transform: uppercase;
    font-family: 'Indie Flower', cursive;
    font-size: 25px ;

    
   
}
.navbar>img{
    
    /* border: 2px solid red;
    height: 3rem; */
   width:100px;
   height: 60px;
   border-radius:50px;
   margin-top:-4.5px;
   
}
.input{
    
    
    height: 50px;
    border-radius: 15px;
    background-color: transparent;
    box-shadow: black;
    background-color:antiquewhite;
    border: none;
    box-shadow: 0 5px 20px rgb(66, 66, 18);
    font-weight: 900;
   
   
    

    
}
.input2{

    height: 50px;
    border-radius: 15px;
    background-color:antiquewhite;
    border: none;
    width: 49%;
    margin-top: 19px;
    box-shadow: 0 5px 20px rgb(66, 66, 18);
    
    font-weight: bolder;

}
select{
    /* font-family: 'Nanum Gothic', sans-serif; */
    background-color: antiquewhite;
    box-shadow: 0 5px 20px rgb(66, 66, 18);
    margin-left: 7%;
    border-radius:15px;
    height: 50px;
    width:115px
   
    
    /* margin-left: 65%; */
    

    
}
select:hover{
    font-weight: 600

}

.input,.input2:hover{
    font-weight: 700;
    
}
.date{
    background-color: antiquewhite;
    border-radius:15px;
    height: 50px;
    margin-left: 7%;
    box-shadow: 0 5px 20px rgb(66, 66, 18);

}
#submit{
    background-color: black;
    color: aliceblue;
    font-weight: 600;
    margin-top: 30px;
    margin-left:100px;
    border-radius:15px;
    height: 40px;
    width:150px;
    border: none;
    box-shadow: 0 5px 20px rgb(66, 66, 18);

    

}
h1{
    margin-left: 20px;
    
    /* background-color: orange */
    font-family: 'Indie Flower', cursive;
font-family: 'Nanum Gothic', sans-serif;
    
}
h1>span{
    margin-left: 100px;
}
.boot{
    margin-top: -30px;
}
.headin1{
    text-align: center;
    background-color: white!important;
    color: #337ab7;
    /* border-color: #337ab7 !important;
    color: azure; */

    margin: 0%;
    
    height: 100px;
    font-size:40px;
    font-weight: 700;
    

}
.kunal{
    position:absolute;
    top: 10px;
    
}
.headin1{
    margin-left: -600px;
    font-family: 'Nanum Gothic', sans-serif;
    color:#2c5476;
    
}
.footer1,.footer2,.footer3{
    width: 400px;
   height: 400px;
   background-color: black;
   margin: 2px;
   }

    


.mainfooter{
    display: grid;
    /* justify-content: center; */
    margin-top: 100px;
    /* margin-right: */
    grid-template-columns:0.5fr 0.5fr 1fr ;
    margin-left:150px;
}
.footup{
    text-align: center;
    
}
